<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="Shortcut Icon" href="~/images/REG.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - QOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/css/layout_custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/QOS.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/home_mobile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/report_mobile.css" asp-append-version="true" />
    <!-- Modern Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <!-- Google Fonts -->

    @* <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"> *@
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/chartjs-plugin-datalabels.js"></script>
</head>
<body style="font-size:18px; ">
    @RenderBody()
</body>

 <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
</html>
