@{
    Layout = "_Layout";
}
<style>
    .nav-link {
        padding: 0;
        fon/t-size: 14px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Nút bấm mở menu -->
        <div class="col-12 d-md-none mb-2">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuSidebar">
                ☰ Menu
            </button>
        </div>

        <!-- Sidebar cho desktop (luôn hiện) -->
        <div class="col-md-2 bg-light d-none d-md-block">
            <h3 class="mt-2">BÁO CÁO</h3>
            <ul class="list-group list-group-flush" style="max-height: 80vh; overflow-y: auto;">
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="RP_Form1">1-Báo Cáo Chất Lượng Bàn Cắt</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">2-Báo Cáo Chất Lượng CPI</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">3-Báo Cáo Bàn Cắt Đầu Tiên</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">4-Báo Cáo Chất Lượng Chuyền May</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">5-Báo Cáo Chất Lượng Cuối Chuyền</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">6-Tổng Hợp Lỗi Cuối Chuyền</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">7-Hình Ảnh Lỗi</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">8-Daily OQL End Line</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">9-Tổng Hợp Lỗi Chuyền May</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">9.1-Lỗi Chuyền May</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">10-Thông Số BTP</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">11-Thông Số TP</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">12-End-Line Summary Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">13-FCA Tracking Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">14-FCA Tracking Report AC-Date</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">15-Báo Cáo Chất Lượng Hoàn Thiện84</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">16-Tổng Hợp Lỗi Hoàn Thiện 84</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">17-Checker 84 Summary Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">18-Checker 84 Daily OQL</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">19-FQC Tracking Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">20-Tổng Hợp Lỗi FQC</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">21-InLine Quality Report Summary</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">22-TOP InLine Quality Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">23-TOP EndLine Quality Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">24-EndLine Detail Report</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageOperation">25-Báo Cáo Cuối Chuyền Theo Unit</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-active="true" asp-controller="Report" asp-action="ManageFeature">26-Report EndLine By Unit</a>
                </li>
            </ul>
        </div>


        <!-- Nội dung chính -->
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

<!-- Offcanvas cho mobile -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">BÁO CÁO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-controller="Report" asp-action="ManageOperation">1-Báo Cáo công đoạn</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Report" asp-action="ManageFeature">2-Báo Cáo tính năng</a>
            </li>
        </ul>
    </div>
</div>