@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="container">
<h2>@ViewData["Title"]</h2>

<partial name="_AlertMessage" />

<form  asp-controller="System" asp-area="System" asp-action="ChangePassword" method="post" >
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="width: 200px;">Đổi mật khẩu</button>
    <a asp-action="Index" asp-controller="System" asp-area="System" class="btn btn-secondary" style="width: 200px;">Hủy</a>
</form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
