@{
    ViewData["Title"] = "Thông Số Đo";
    Layout = "_MenuFunction";
}

<partial name="_AlertMessage" />
<div class="continer my-3">
    

    <div class="row align-items-center mb-3">
        <!-- Bên trái -->

        <div class="col-md-6 d-flex flex-wrap gap-2">
            <h3 class="text-primary fw-bold">Thông tin MO</h3>
        </div>

        <!-- Bên phải -->
        <div class="col-md-6 d-flex justify-content-end flex-wrap gap-2">
            <form id="SearchForm" asp-area="Function" asp-action="Search" asp-controller="ETSMoStyle" method="post"
                class="d-flex align-items-center gap-2 mb-0">
                
                <input type="text" class="form-control w-auto" placeholder="MO; Style" id="Search_V" name="Search_V" />

                <button class="btn btn-warning">
                    <i class="bi bi-search"></i> Check
                </button>
            </form>
        </div>
    </div>
</div>
<div id="loadingMsg" class="alert alert-info d-none">
    Đang upload và xử lý dữ liệu...
</div>

<div class="table-responsive">
    <div id="resultArea">
        @* @Html.Raw(Model) *@
        <partial name="_ResultTable" model="Model" />
    </div>
</div>
<script src="~/js/jquery-3.6.0.min.js" asp-append-version="true"></script>
<script>
    $("#SearchForm").submit(function (e) {
        e.preventDefault();
        $.post($(this).attr("action"), $(this).serialize(), function (html) {
            $("#resultArea").html(html);
        });
    });
</script>